.card {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 16px;
  margin: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.club-layout {
  display: flex;
  align-items: center;
  gap: 20px;
}

.club-image {
  width: 195px;
  height: 195px;
  object-fit: cover;
  border-radius: 16px;
  border: 4px solid #dbeafe;
  box-shadow: 0 6px 18px rgba(37, 99, 235, 0.18);
}

.club-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.club-info p {
  margin: 6px 0;
}

.theme-light {
  background: #dcee8a;
  color: black;
}

.theme-dark {
  background: #1f2937;
  color: white;
}

.theme-blue {
  background: #3b82f6;
  color: white;
}

.page {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.player-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.player-list li {
  background: rgba(255,255,255,0.3);
  padding: 6px 12px;
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #172e07;
  color: rgb(117, 228, 236);
  font-family: 'Helvetica', sans-serif;
  font-style: italic; 
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #4338ca;
}

.btn.active {
  background-color: #ef4444;
}

.title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background: #76c1f3;
  color:rgb(235, 34, 158);
}